.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  margin: 20px 0;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 300px;
  margin: 0 auto;
}

.mole-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.mole-container.active .mole {
  visibility: visible;
}

.mole {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
}

.mole-container.active .mole {
  visibility: visible;
}


.dirt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.game-info {
  margin-top: 20px;
}
